.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(34,193,195);
background: linear-gradient(60deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.formContainer, .loginForm, .regisForm{
    display: flex;  
    flex-direction: column;
}

  label{
    text-align: left;
    color:white;
    font-weight: 500;
    font-size: medium;
    padding: 0.5rem 0rem;
  }

  input{
    padding: 0.5rem;
    border-radius: 5px;
    border-style: none;
  }

  .formContainer{
    border: 2.5px solid white;
    padding: 3rem;
    border-radius: 12px;
  }

button{
  padding: 0.5rem;
  background-color: #0275d8;
  color: white;
  border:none;
  margin-top: 1rem;
  border-radius: 50px;
  cursor:pointer;
}
